
<html>
    <head></head>
    <body>
<h2> Modarator info<h2> <p>                    
<hr><br>


<table style="width:100%">
<thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Edite/delet</th>
    </tr>
</thead>
<% for(var i=0; i < results.length; i++){ %>
<tbody>
    <form action="" method="post"> 
    <tr>
      <th><input type="text" name="id" value="<%= results[0].mid%>" readonly></th>
      <th><input type="text" name="name" value="<%= results[0].mname%>" ></th>
      <th><input type="text" name="email" value="<%= results[0].memail%>"></th>
      <th><input type="text" name="email" value="<%= results[0].mpass%>"></th>
      <th>
        <input type="submit" value="edit" >
        <a href="admindashbord/delete/<%= results[i].midid %>">Delete</a>
        
      
    </th>
</tr>
</form>

<%  } %>
</tbody>
   
  </table> 

  <a href="/logout">Logout</a>


  </body>
  </html>